
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------------------------------------------------- Global  ----------------------------------------------------------------------*/

body{
  max-width: 100%;
  background: linear-gradient(97deg, #31333b, #f0bf6c);
  background-size: 400% 400%;
  overflow-x : hidden !important;
}

body, a, button{
  font-family: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #f0bf6c;
}

::-webkit-scrollbar-track {
  background-color: #3d3e42;
}

a,button {
  transition: all 250ms ease-out;
}

/* -------------------------------------------------------------------------- Liens Navbar ----------------------------------------------------------------------*/

button.link-navbar, a.link-navbar {
  display: inline-block;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

button.link-navbar::after, a.link-navbar::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05rem;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
button.link-navbar:hover::after, a.link-navbar:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*-------------------------------------------------------------------------- Bouton Envoyer Form  --------------------------------------------------------------------------*/

#btn-envoyer {
  position: relative;
  overflow: hidden;
  border: 2px solid #f0bf6c;
  border-radius: 8px;
  padding: 0.75rem;
  color: #f0bf6c;
  transition: color 0.2s;
  width: 85px;
  cursor: pointer;
}

#btn-envoyer button {
  position: relative;
  transition: all .45s ease-Out;
}

#btn-envoyer:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #f0bf6c;
  color: white;
  position: absolute;
  transition: all .5s ease-out;
  top: 20px;
  left: 70px;
}


#btn-envoyer:hover button {
  color: white;
}


/* Ajoutez ces classes personnalisées dans votre fichier CSS */
.image-container {
  position: relative;
  width: 1100px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 7s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.1);
}